[submodule "thirdParty/rapidobj"]
	path = thirdParty/rapidobj
	url = https://github.com/guybrush77/rapidobj
[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdParty/glm"]
	path = thirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = https://github.com/ocornut/imgui
